<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xcc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F5C1DAC1C40E51C00C52B6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F5C1DC51C40E51D00C52B6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F5C1DD01C40E51D00C52B6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
